:root {
  --color-black: #000;
  --color-light: #fff;
  --color-light-opacity: rgba(255,255,255,0.5);
  --color-dark: #000;
  --color-dark-opacity: rgba(0,0,0,0.8);
  --color-primary: #4881FC;
  --color-success: #2ED477;
  --color-warning: #e6a23c;
  --color-danger: #F46363;
  --color-info: #868e96;
  --color-dark-black: #101113;
  --color-dark-grey: #495057;
  --color-light-grey: #dee2e6;
  --color-primary-light: #edf3ff;
  --color-bg-input: #f8f9fa;
  --color-background-image-top: #0B0B0B;
  --color-background-image-bottom: #272727;
  --color-subtitle: #ADB5BD;
}

.color-black {
  color: var(--color-black);
}

.color-light {
  color: var(--color-light);
}

.color-dark {
  color: var(--color-dark);
}

.color-dark-black {
  color: var(--color-dark-black);
}

.color-dark-grey {
  color: var(--color-dark-grey);
}

.color-light-grey {
  color: var(--color-light-grey);
}

.color-bg-input {
  color: var(--color-bg-input);
}

.color-primary {
  color: var(--color-primary);
  font-weight: bold;
}

.color-success {
  color: var(--color-success);
}

.color-warning {
  color: var(--color-warning);
}

.color-danger {
  color: var(--color-danger);
}

.color-info {
  color: var(--color-info);
}

.bg-light {
  background-color: var(--color-light);
}

.bg-dark {
  background-color: var(--color-dark);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}
