@font-face {
    font-family: 'Inter-Regular';
    src: url(../font/Inter-Regular-9.otf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter-black';
    src: url(../font/Inter-Black-3.otf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter-bold';
    src: url(../font/Inter-Bold-4.otf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url(../font/Inter-Medium-8.otf);
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../font/Inter-SemiBold-10.otf);
    font-style: normal;
    font-display: block;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-size: 100px;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}

*,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    cursor: inherit;
    word-break: break-word;
    letter-spacing: 0;
}

body {
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    font-family: "Inter-Regular";
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset {
    border: none;
}

img {
    border: none;
}

ul,
li,
dd,
dl,
dt {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

a:active,
a:visited,
a:link,
a:hover {
    border: 0;
    border-color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:focus {
    outline: none;
    /* -moz-outline-style:none; */
}

[v-cloak] {
    display: none;
}

.el-button {
    font-family: inherit;
}

.el-message .el-icon {
    font-size: 25px;
}

.el-message .el-message__content {
    font-size: 16px;
}

.el-message .el-message__closeBtn {
    font-size: 16px;
}

.el-message .el-message__closeBtn .icon {
    width: 20px;
    height: 20px;
    color: #303133;
    cursor: pointer;
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-sub-menu__title {
    height: auto !important;
    /* padding: 7px 20px 7px 10px !important;
    font-size: 17px; */
    /* line-height: 1; */
}

.el-sub-menu .el-sub-menu__icon-arrow {
    right: 5px !important;
    font-size: 13px !important;
}

@keyframes floating {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(11px);
    }
}

@-webkit-keyframes floating {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(11px);
    }
}

@keyframes floating-up {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
}

@-webkit-keyframes floating-up {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
}

@keyframes floating-left {
    0%,
    100% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-6px, 0px);
    }
}

@-webkit-keyframes floating-left {
    0%,
    100% {
        transform: translate(0px, 0px);
        /* transform: rotate(0deg); */
        /* transform: rotate(15deg) translate(-20px, 0px); */
    }
    50% {
        transform: translate(-6px, 0px);
    }
}

@keyframes floating-rotate {
    0%,
    100% {
        transform: rotate(0deg);
        /* transform: rotate(15deg) translate(-20px, 0px); */
    }
    50% {
        transform: rotate(10deg);
    }
}

@-webkit-keyframes floating-rotate {
    0%,
    100% {
        transform: rotate(0deg);
        /* transform: rotate(15deg) translate(-20px, 0px); */
    }
    50% {
        transform: rotate(10deg);
    }
}

@keyframes floating-turn {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes floating-turn {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
}

@keyframes floating-arc {
    0% {
        left: 14%;
        bottom: 13%;
        transform: rotate(0deg);
    }
    50% {
        left: 44%;
        bottom: 60%;
    }
    100% {
        left: 114%;
        bottom: 53%;
        transform: rotate(45deg);
    }
}

@-webkit-keyframes floating-arc {
    0% {
        left: 14%;
        bottom: 13%;
        transform: rotate(0deg);
    }
    50% {
        left: 44%;
        bottom: 60%;
    }
    100% {
        left: 114%;
        bottom: 53%;
        transform: rotate(45deg);
    }
}

@keyframes floating-star {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes floating-star {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.landing {
    width: 100%;
    max-width: 2160px;
    margin: auto;
}

/* 
@media screen and (max-width:1920px) {
    .landing {
        width: 19.2rem;
    }
}

@media screen and (max-width:1680px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 90px;
    }
}

@media screen and (max-width:1600px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 85px;
    }
}

@media screen and (max-width: 1440px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 80px;
    }
}

@media screen and (max-width: 1366px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 75px;
    }
}

@media screen and (max-width:1260px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 70px;
    }
}

@media screen and (max-width:1024px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 65px;
    }
}

@media screen and (max-width:768px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 55px;
    }
}

@media screen and (max-width:640px) {
    html,
    body,
    #app,
    .wrapper {
        font-size: 42px;
    }
} */