@font-face {
  /* 重命名字体名 */
  font-family: 'gilroy-Regular';
  /* 引入字体 */
  src: url('./Gilroy/gilroy-regular-3.otf');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'gilroy-Bold';
  src: url('./Gilroy/gilroy-bold-4.otf');
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'gilroy-Medium';
  src: url('./Gilroy/Gilroy-Medium-2.otf');
  font-style: normal;
  font-display: block;
}

:root {
  --font-bold: gilroy-Bold;
  --font-22: 0.22rem;
  --font-20: 0.2rem;
  --font-16: 0.16rem;
}

.font-regular {
  font-family: gilroy-Regular;
}

.font-medium {
  font-family: gilroy-Medium;
}

.font-bold {
  font-family: var(--font-bold);
}

.font-bold2 {
  text-shadow: 0 0 white;
}

.font-10 {
  font-size: 0.1rem;
}

.font-12 {
  font-size: 0.12rem;
}

.font-14 {
  font-size: 0.14rem;
}

.font-16 {
  font-size: var(--font-16);
}

.font-18 {
  font-size: 0.18rem;
}

.font-20 {
  font-size: var(--font-20);
}

.font-22 {
  font-size: var(--font-22);
}

.font-24 {
  font-size: 0.24rem;
}

.font-26 {
  font-size: 0.26rem;
}

.font-28 {
  font-size: 0.28rem;
}

.font-30 {
  font-size: 0.3rem;
}

.font-32 {
  font-size: 0.32rem;
}

.font-34 {
  font-size: 0.34rem;
}

.font-36 {
  font-size: 0.36rem;
}

.font-38 {
  font-size: 0.38rem;
}

.font-40 {
  font-size: 0.4rem;
}

.font-42 {
  font-size: 0.42rem;
}

.font-44 {
  font-size: 0.44rem;
}

.font-46 {
  font-size: 0.46rem;
}

.font-48 {
  font-size: 0.48rem;
}

.font-50 {
  font-size: 0.5rem;
}

.font-52 {
  font-size: 0.52rem;
}

.font-54 {
  font-size: 0.54rem;
}

.font-56 {
  font-size: 0.56rem;
}

.font-58 {
  font-size: 0.58rem;
}

.font-60 {
  font-size: 0.6rem;
}

.font-62 {
  font-size: 0.62rem;
}

.font-64 {
  font-size: 0.64rem;
}

.font-66 {
  font-size: 0.66rem;
}

.font-68 {
  font-size: 0.68rem;
}

.font-70 {
  font-size: 0.7rem;
}

.font-74 {
  font-size: 0.74rem;
}

.font-80 {
  font-size: 0.8rem;
}

.font-90 {
  font-size: 0.9rem;
}

.font-100 {
  font-size: 1rem;
}

.font-weight-4{
  font-weight: 400;
}

.font-weight-5{
  font-weight: 500;
}

.font-weight-6{
  font-weight: 600;
}

.font-weight-9{
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  :root {
    --font-22: 12px !important;
    --font-20: 12px !important;
    --font-16: 12px !important;
  }
  .font-12 {
    font-size: 10px !important;
  }
  .font-14 {
    font-size: 10px !important;
  }
  .font-16 {
    font-size: 12px !important;
  }
  .font-18 {
    font-size: 12px !important;
  }
  .font-20 {
    font-size: 12px !important;
  }
  .font-22 {
    font-size: 12px !important;
  }
  .font-24 {
    font-size: 13px !important;
  }
  .font-26 {
    font-size: 13px !important;
  }
  .font-28 {
    font-size: 14px !important;
  }
  .font-30 {
    font-size: 14px !important;
  }
  .font-32 {
    font-size: 15px !important;
  }
  .font-34 {
    font-size: 16px !important;
  }
  .font-36 {
    font-size: 17px !important;
  }
  .font-38 {
    font-size: 18px !important;
  }
  .font-40 {
    font-size: 20px !important;
  }
  .font-64 {
    font-size: 28px !important;
  }
}
